/* font-family: "Roboto", sans-serif; */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo .logo-part{
    color: #2e2f42
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.contacts{
    font-style: normal;
}
.contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}